/*Style Cart.html*/

* {
	font-family: Montserrat;
}

button:hover{
	cursor: pointer;
}

.header {
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.cart {
	width: 80%;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: none;
}

.cover {
	/*width: 97.09vw;
	height: 150vw; */
	width: 97.09px;
	height: 150px; 
}

.bold {
	font-weight: bolder;
}

.checkbox {
	/*vertical-align: middle;*/
	margin-top: auto;
	margin-bottom: auto;
}

.w10 {
	width: 10%;
	height: auto;
}

.w15 {
	width: 15%;
	height: auto;
}

.w20 {
	width: 20%;
	height: auto;
}

.w50 {
	width: 50%;
	height: auto;
}

.w60 {
	width: 60%;
	height: auto;
}

.del {
	margin-top: auto;
	margin-bottom: 5%;
	margin-left: 10%;
}

.center {
	margin: auto;
}

.btnPlusMin {
	border-radius: 50%;
	font-size: 100%;
	font-weight: bolder;
	border: none;
}

.w3-theme-cart {color:#fff !important; background-color:#159674 !important}
.w3-text-theme-cart {color:#159674 !important}

.margin {
	margin:24px 32px;
}

.round-bottom {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

hr {
	border: 3px solid #6F7475;
    /*margin-bottom: 4%;*/
    width: 90%;
    margin: auto;
    border-top: none;
}

.btn {
	border: none;
}

.yesno_btn{
	padding-top: 2%; 
	padding-bottom: 2%; 
	color: white;
	border-radius: 7px;
}

.delete_btn:hover{
	color: red;
	cursor: pointer;
}

.justify_space {
	justify-content: space-between;
}