html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}

body {
    margin-bottom: 120px;
}

.logo {
    padding-top: 16px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: 100%;
}

.header-search-bar {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 40%;
    overflow: hidden;
    background: url(../images/walp4.jpg);
    background-repeat: no-repeat;
    background-position: 0% 40%;
    
}

.header-search-bar img {
    width: 100%;
    position:absolute;
}


.header-search-text {
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-input {
    border-color: transparent;
    border-radius: 10px;
    width: 40%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    font-family: Montserrat;
    font-weight: 700;
}

.search-box {
    padding-top: 32px;
    display: flex;
    width: 40%;
    align-items: center;
    position: relative;
}

.header-search-text input {
    width: 100%;
    position:absolute
}

.header-search-text i {
    right: 20px;
    position: absolute
}

.browse-large-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.browse-topics {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.topics-card {
    width: 20%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 1px black;
    transition: 0.2s;
}

.topics-card img {
    width: 20%;
}

.topics-card label {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 2rem;
}

.topics-card:hover {
    box-shadow: 10px 12px #1DD2A2;
    cursor: pointer;
}

.accordion-container {
    width: 100%;
    margin-bottom: 64px;
}

.accordion-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative
}

.accordion-item-icon {
    position: absolute;
    right: 15px;
}

.accordion-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.adc-item {
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(223, 223, 223) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

details div {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1.5em;
    font-size: 1.65rem;
}

details div > * + * {
    margin-top: 1.5em;
}

details + details {
    margin-top: .5rem;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    border: 1px solid #000;
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
    font-size: 2rem;
}

summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    content: "↓";
    width: 1.75rem;
    height: 1.75rem;
    background-color: #000;
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

details[open] summary {
    background-color: #7aecce;
}

details[open] summary:before {
    content: "↑";
}

summary {
    transition: 0.2s;
}

summary:hover {
    /* background-color: #eee; */
    background-color: #7aecce;
}

code {
    font-family: Montserrat;
    font-weight: 600;
}

.accordions {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.current-card {
    box-shadow: 10px 12px #1DD2A2;
}
