html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}

body {
    margin-bottom: 120px;
}

.logo {
    padding-top: 16px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: 100%;
}

.header-search-bar {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.header-search-bar img {
    position:absolute;
    width: 100%;
}


.header-search-text {
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-input {
    border-color: transparent;
    border-radius: 10px;
    width: 40%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    font-family: Montserrat;
    font-weight: 700;
}

.search-box {
    padding-top: 32px;
    display: flex;
    width: 40%;
    align-items: center;
    position: relative;
}

.header-search-text input {
    width: 100%;
    position:absolute
}

.header-search-text i {
    right: 20px;
    position: absolute
}
