.header-container{
  border-radius: 20px;
  background-color: #EBFFFB;
  display:flex;
  height: 30%;
  margin: 10vh 20vw;
  justify-content: space-between;
}

.header-img{
  position:relative;
  top: -50px;
  margin-left: 6vw;
}

.header-img img{
  position: relative;
}

.header-content{
  margin: 1vh 3vw;
  text-align: right;
  max-width: 400px;
}

.green-button{
  background-color: #2A973C;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 40px;
  font-weight: 700;
}