body{
  font-family: 'Montserrat', serif;
}

.logo-container{
  display: flex;
  justify-content: center;
}

.header-container{
  border-radius: 20px;
  background-color: #EBFFFB;
  display:flex;
  height: 30%;
  min-width: 800px;
  max-width: 1200px;
  margin: 5vh 0;
  justify-content: space-between;
}

.header-img{
  position:relative;
  top: -50px;
  margin-left: 6vw;
}

.header-img img{
  position: relative;
}

.header-content{
  margin: 1vh 3vw;
  text-align: right;
  max-width: 500px;
  margin-left: 100px;
}

.green-button{
  background-color: #2A973C;
  color: white;
  border-radius: 10px;
  padding: 8px 40px;
  font-weight: 700;
  text-decoration: none;
}

.new-released-container{
  margin: 0 10vw;
}

.carousel{
  display: flex;
  justify-content:space-evenly;
}

.catalog-card{
  background-color: #EBFFFB;
  display:flex;
  overflow: hidden;
  max-width: 450px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog-card img{
  height: 255px;

}

.catalog-card .content{
  padding: 10px;
}

.catalog-card .content .header{
  display: flex;
  justify-content: space-between;
}

.catalog-card .content .header .title{
  font-size: 18px; 
  font-weight: 700;
  max-height: 50px;
  margin-bottom: 0;
  margin-top: 6px;
}

.catalog-card .content .header .plus{
  margin-top: 5px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

.catalog-card .content .author{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.catalog-card .content .isbn{
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 5px;
}

.catalog-card .content .synopsis{
  font-size: 10px;
  text-align: justify;
}

.catalog-card .content .info{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-card .content .info .rating{
  display: flex;
  align-items: center;
}

.catalog-card .content .info .rating img{
  width: 24px;
  height: 24px;
}

.catalog-card .content .info .price{
  margin: 0 0 0 3px;
  color: #1DD2A2;
  font-weight: 700;
}

.catalog{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  height: 1000px; /*Sementara*/
}

.textbox{
  height: 38px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 700;
  border:none;
  outline:none;
}

.searchbar{
  width: 70vw;
  border: 2px solid #EBEBED;
  box-sizing: border-box;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow:hidden;

  display: flex;
  
}

.search-by{
  background-color: white;
  padding: 0px 15px;
}