body{
  font-family: 'Montserrat', serif;
  padding: 0px;
  margin: 0px;
}

.logo-container{
  display: flex;
  justify-content: center;
}

.header-container{
  border-radius: 20px;
  display:flex;
  height: 30%;
  min-width: 800px;
  max-width: 1200px;
  margin: 5vh 0;
  justify-content: space-between;
}

.header-img{
  position:relative;
  top: -50px;
  margin-left: 6vw;
}

.header-img img{
  position: relative;
}

.header-content{
  margin: 1vh 3vw;
  text-align: right;
  max-width: 500px;
  margin-left: 100px;
}

.green-button{
  background-color: #2A973C;
  color: white;
  border-radius: 10px;
  padding: 8px 40px;
  font-weight: 700;
  text-decoration: none;
}

.white-button{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 40px;
  font-weight: 700;
  text-decoration: none;
}

.new-released-container{
  margin: 0 10vw;
}

.carousel{
  display: flex;
  justify-content:space-evenly;
}

.light-green-background{
  background-color: #EBFFFB;
}

.catalog-card{
  display:flex;
  overflow: hidden;
  max-width: 450px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.catalog-card img{
  height: 255px;
}

.catalog-card .content{
  padding: 10px;
}

.catalog-card .content .header{
  display: flex;
  justify-content: space-between;
}

.catalog-card .content .header .title{
  font-size: 16px; 
  font-weight: 700;
  max-height: 50px;
  margin-bottom: 0;
  margin-top: 6px;
}

.catalog-card .content .header .plus{
  margin-top: 5px;
  margin-left: 10px;
}

.catalog-card .content .author{
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.catalog-card .content .isbn{
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.catalog-card .content .synopsis{
  font-size: 9px;
  text-align: justify;
}

.catalog-card .content .info{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-card .content .info .rating{
  display: flex;
  align-items: center;
}

.catalog-card .content .info .rating img{
  width: 24px;
  height: 24px;
}

.catalog-card .content .info .price{
  margin: 0 0 0 3px;
  color: #1DD2A2;
  font-weight: 700;
}

.catalog{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.textbox{
  height: 38px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 700;
  border:none;
  outline:none;
}

.box-shadow{
  border: 2px solid #EBEBED;
  box-sizing: border-box;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.searchbar{
  width: 70vw;
  overflow:hidden;
  align-items: center;
  display: flex;

}

.search-by{
  background-color: white;
  padding: 0px 15px;
}

.misc-bar{
  width: 70vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-button{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px;
  align-items: baseline;
}

.books{
  width: 80vw;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pagination{
  text-align: center;
  margin-top: 30px;
}

.page-number{
  text-decoration: none;
  color: black;
}

.footer{
  padding: 20px 0px;
  width: 100%;
}

.footer p{
  text-align:center;
  font-size: 12px;
}
.footer a{
  text-decoration: none;
  color: #00A3FF;
}

i {   
  text-align:center;
  position: relative;
}

.alert-box{
  padding: 3vw;
}

.w3-modal-content span{
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #EBFFFB;
}

.footer h2 {
  font-family: Montserrat;
  margin-right: 5px;
  font-size:12px;
}

.footer a {
  font-family: Montserrat;
  text-decoration: none;
  color: #00A3FF;
  margin-right: 5px;
  font-size:12px;
}

.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.paginations{
  transition: 300ms;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.paginations:hover{
  cursor: pointer;
  border-color: #1DD2A2;
}