html, body {
    width: 100%;
    height: 100%;
}

a, label, button{
    font-family: Montserrat;
}

h1{
    margin: 0;
}

input{
    width: 100%;
    border-radius: 7px;
    border: 1px solid black;
    line-height: 5px;
    padding: 10px;
    font-family: Montserrat;
}

#right-middle{
    margin-top: 20%; 
    width: 45%;
}

#right-bottom{
    margin-top: 35%; 
    justify-content: center;
}

.submit-button{
    background-color: #1DD2A2 ;
    border: 1px solid #1DD2A2 ;
    text-decoration: none;
    font-family: Montserrat;
    color: white;
    padding:4%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 7px;
}

.submit-button:hover{
    background-color: #159674;
    border: 1px solid #159674;
}

.half-width{
    width: 50%;
}

.contact-link{
    text-decoration: none;
    margin-right: 9%;
}
.contact-link:hover{
    text-decoration: underline;
}